@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword" asp-controller="Account">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input asp-for="Email" type="hidden" />
			<input asp-for="Token" type="hidden" />
			<input class="text" type="password" asp-for="Password" placeholder="Password" required="" />
			<input class="text" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="" />
			<input type="submit" value="ResetPassword">
		</form>
	</div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />

}


